<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Buddi Automation Suite">

<listeners>
		<listener class-name="com.instatech.listeners.TestListener" />
	</listeners>

  <test name="Buddi Tests">
    <classes>
      <class name="com.instatech.sampletests.Test1"/>
      <class name="com.instatech.sampletests.Test2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
